header {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    margin: 16px;
    padding: 0px;
    gap: 32px;
    margin-bottom: 32px;
}

.right-links {
    justify-content: flex-end;
    margin-left: auto;
    padding: 8px;
    display: flex;
    gap: 32px;
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    margin: 0 256px;
    color: white;
}

.upper-panel {
    display: flex;
    gap: 64px;
    padding: 64px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.secondary-text {
    font-size: 18px;
    text-align: justify;
}

button {
    background-color: #3882F6;
    border: none;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    padding: 8px 16px;
    border-radius: 8px;
}

.departaments {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.departament img {
    border-radius: 8px;
    height: 256px;
    width: 256px;
    object-fit: cover;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    text-align: justify;
    margin: 64px 128px;
}

.quote-giver {
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
    text-align: right;
    margin-top: -50px;
    margin-right: 128px;
}

.quote-box {
    background-color: #E5E7EB;
    margin: 0 -256px;
    padding: 64px 256px !important;
    color: #1F2937;
}

.middle-panel {
    background-color: white;
    margin: 0 -256px;
    padding: 64px 256px !important;
    color: #1F2937;
}

.cta-box {
    

    background-color: white;
    margin: 0 -256px;
    padding: 32px 256px !important;
}

.inside {
    display: flex;
    background-color: #3882F6;
    margin: 64px;
    padding: 32px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 4px;
}

.cta-box button {
    border: #E5E7EB solid 2px;
}

footer {
    padding: 32px;
    text-align: center;
}